html, body {
    margin:0;
}


body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #333;
}
.foreword {
    font-family: Georgia, Times New Roman, serif;
    font-size: .83em;
    line-height: 1.4em;
    padding: 1em;
    //box-shadow: 5px 5px 5px lightgrey;
    border: 1px solid lightgrey;
    overflow: hidden;
}
.foreword h2 {
    color: #555;
    margin-top:0;
}
.foreword p {
    text-align: justify;
}

.footer {
    background-color: lightgrey;
    font-size: .8em;
    color: #555;
    padding-bottom: 20px;
}

.foo h2{
    margin-top:0;
    font-size: 1em;
    text-transform: uppercase;
}
footer details {
    width: 100%;
    display: block;
    clear: both;
}

.links {
    list-style-type: none;
    padding:0;
    margin:0;
}
ul.links li a {
    text-decoration: none;
    color: inherit;
    line-height: 1.5;
}

h2{
    font-size: 1.5em;
}
.news-item .caption {
    height: 180px;
    overflow: hidden;
}

blockquote {
    background-color: #eee;
    padding: 1em;
    border-left: .4em solid LightGrey;
    font-style:italic;
    font-family: Georgia, Times new Roman, serif;
    color: #555;
}

.foreword img {
    padding: .5em;
    border: 1px solid LightGrey;
}
.foreword figure {
    display: block;
    padding: 0;
    width: 120px;
}
.foreword figure figcaption {
    font-size: small;
    color: grey;
    text-align: center;
    display: none;
}

.signature {
    float: right;
}

h1 b {
    color: black;
}

.logo-and-heading {
    padding:20px 0 15px 0;
    display: block;
    width: 200px;
    overflow: auto;
}
.logo-and-heading:hover {
    text-decoration: none;
}
.logo-and-heading .logo {
    display: block;
    float: left;
    margin-top: -2px;
}

.logo-and-heading h3 {
    padding: 0;
    margin:0;
    font-size: 1em;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
}

.figure-left {
    display: block;
    margin: 0 10px 10px 0;
    float: left;
}
.news-item,
.news-item:hover {
    text-decoration: none;
    display: block;
}
.entry-date {
    font-family: sans-serif;
    font-size: 0.75em;
}

.entry-header {
    margin-bottom: 5px;
}

.entry-content {
    margin-top: 20px;
}

.entry-image {
    display: block;
    overflow: auto;
}

.entry-meta {
    list-style-type: none;
    color:#555;
    font-size: .7em;
    padding: 0;
}
.entry-meta li {
    display: inline-block;
    padding-right: 10px;
}

.entry {
    margin-bottom: 20px;
}
